<div class="container fluid" ng-if="main.currentUser">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <button class="btn btn-default navbar-btn"
                        ng-click="main.anonymous()">
                    Anonymous Action
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default navbar-btn"
                        ng-click="main.onlyVisitor()">
                    Visitor Action
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default navbar-btn"
                        ng-click="main.onlyAdmin()">
                    Admin Action
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <textarea ng-model="main.content" rows="10" style="width: 100%"></textarea>
        </div>
    </div>
</div>

